*{
    margin:0;
    font-family: 'Mulish',sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
}
.fa-hand-wave{
    color:#f44336;
}
.header{
    box-shadow: 4px 4px 12px #000;
    padding:10px 1px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin: 0 6px;
}
.leftside{
    padding:5px 12px;
    color:#000;
    border-radius:5px;
    margin: 0 2%;
}
.Header{
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("/Images/lap4.jpg");
    height:100vh;
    background-position: center;
    background-size: cover;
}
.leftside ,h4{
    color: rgb(40, 236, 67);
}
.leftside h4{
    font-size:25px;
}
.header img{
    transform: rotateY(180deg);
    margin:0 2%;
    width: 40px;
}
.nav-links{
    flex: 1;
    text-align: right;
    margin: 0 5%;
}
.nav-links ul li{
    position: relative;
    display: inline-block;
    list-style: none;
    padding:8px 12px;
}
.nav-links ul li a{
    color:#fff;
     text-decoration: none;
     font-size:18px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.textbox{
    top:35%;
    left: 35%;
    position: absolute;
}
.circle{
    background-color: rgb(30, 44, 30);
    height:310px;
    width: 310px;
    border-radius: 50%;
    padding:10px;
    bottom: 150px;
    left:6%;
    position: relative;
}
.circle img{
    width:250px;
    height:250px;
    margin: 6% 7%;
    border-radius: 50%;
    border: 5px solid green;
    object-fit: cover;
}
.details{
    bottom: 150px;
    right:25%;
    position: relative;
    color: #fff;
    text-align: center;
}
.details p{
    font-size: 19px;
    margin: 1% 0;
    font-size: 400;
}
.icons{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    bottom: 120px;
    right:24%;
    position: relative;
}
.icons a{
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 12px 38px;
    color: #fff;
    font-size: 17px;
    margin: 0 3%;
}
.arrow{
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: rotate(90deg);
    width:15px;
    animation: jump 3s linear infinite;
}
#aboutme{
    padding: 30px;
    color: #fff;
    display:flex;
    justify-content: space-between;
}
#aboutme img{
    width: 100%;
}
#aboutme h3{
    font-family: inherit;
    font-size:25px;
    font-weight: 500;
}
#aboutme h3::after{
    content: '';
    width:80%;
    height:1px;
    background-color: #f4f4f4;
    display: block;
    margin: auto;
    bottom: 10px;
    left: 8%;
    position: relative;
}
.Left__side p{
    letter-spacing: 1px;
    font-weight: 300;
    color: #d4cbcb;
    line-height: 25px;
    margin: 10px 0;
    font-size: 19px;
}
.Left__side{
    flex-basis: 50%;
}
.Left__side p li i{
    color: rgb(40, 236, 67);
}
.Left__side p i{
    color: rgb(40, 236, 67);
}
.right{
    flex-basis: 45%;
}
.right img{
    width:100%;
    height:60vh;
}
.info{
    display:flex;
    justify-content: space-between;
}
.info .left{
    flex-basis: 50%;
}
.column .right img{
    width:100%;
    height:40vh;
    object-fit: cover;
    border-radius: 10px;
}
#projects{
    padding:30px;
}
#projects h2{
    color: #fff;
    margin: 2% 0;
    font-weight: 400;
}
.user{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    border: 2px solid  rgb(40, 236, 67);
}
.row{
    display:flex;
    justify-content: space-between;
    margin: 2% 0;
}
.column{
    flex-basis: 100%;
    background-color: rgba(77,76,76,0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 30px 20px;
    color: #fff;
    margin: 0 1%;
    box-shadow: 2px 2px 4px #000;
    border-radius: 5px;
    cursor: pointer;
}
.column:hover{
    box-shadow: 4px 4px 8px rgb(40, 236, 67);
}
.column h3{
    color: rgb(8, 241, 78);
    margin: 3% 0;
}
.column span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
}
.column span li{
    list-style: none;
    color: #fff;
    font-size: 13px;
}
.column p{
    margin: 2% 0;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}
.column a{
    text-decoration: none;
    color: rgb(8, 241, 78);
    font-size: 23px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column a img{
    width:30px;
    height:30px;
    cursor: pointer;
}
.column a small{
    margin: 0 2%;
    font-size: 13px;
}
.cta{
    padding:40px;
    color: #fff;
    text-align: center;
}
.cta h2{
    font-size: 30px;
}
.cta p{
    font-size: 14px;
    color: rgb(194, 186, 186);
    margin: 14px 0 40px;
    line-height: 20px;
}
.cta a{
    text-decoration: none;
    padding: 10px 30px;
    color: rgb(8, 241, 78);
    border: 2px solid rgba(7, 253, 81, 0.87);
    border-radius: 5px;
}
.footer{
    color: #fff;
    text-align: center;

    font-weight: 300;
}
.skills{
    padding: 40px;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("/Images/pexels-pixabay-4158.jpg");
    background-position: center;
    background-size: cover;
    width:100%;
}
.skills h2{
    color: #fff;
    text-align: left;
    margin: 2% 0;
    font-weight: 300;
    font-size: 25px;
}
.skillrow{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 10%;
}
.first img{
  width:50px;
  height:50px;
  object-fit: cover;
}
.first div{
    width:100%;
    height:7px;
    background-color: #000;
}
.first{
    margin: 3% 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.first p{
    margin: 0.5% 0;
}
#html{
    width:95%;
    height:7px;
    background-color: rgb(8, 241, 78);
    display: block;
}
#js{
    width:79%;
    height:7px;
    background-color: rgb(8, 241, 78);
    display: block;
}
#react{
    width:85%;
    height:7px;
    background-color: rgb(8, 241, 78);
    display: block;
}
.Resume{
    border: 2px solid rgb(8, 241, 78);
    padding: 8px 20px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(8, 241, 78);
    border-radius: 6px;
}
.menu{
    display: none;
}
#preloader{
    background: #000 url("/Images/circle-loader-gif-2.gif") center center no-repeat;
    transform: translate(-50%,-50%);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: 15%;
    z-index: 1000;
}
@media only screen and (max-width:768px){
    *{
        margin: 0%;
        padding: 0%;
    }
    .menu{
        display: block;
        width:10px;
        z-index: 70;
    }
    body{
        overflow-x: hidden;
    }
    .nav-links{
        background-color: #333;
        box-shadow: 0 0 4px 4px #000;
        height: 70vh;
        width: 300px;
        top:0;
        right: -6%;
        display: none;
        position: absolute;
        z-index: 15;
        transition: 0.5s;
    }
    .nav-links ul{
        margin: 20% 30px;
    }
    .nav-links ul li{
        display: block;
        margin: 15px 0;
    }
    #aboutme,.row,.skillrow{
        flex-direction: column;
    }
    .Left__side,.right,.column{
        flex-basis: 100%;
    }
    .column{
        margin: 1% 0;
    }
    .textbox .circle{
      left: -100px;
      position: relative;
    }
    html,body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    #aboutme h3::after{
        left: 80px;
        position: relative;
        width: 70%;
    }
    #aboutme .right img{
        height:40vh;
    }
}
/* .menuTag span{
    background-color: #fff;
    width:30px;
    height: 3px;
    display: block;
    margin: 7px 0;
}
.menuTag{
    margin: 0 20px;
}
.menuTag span:nth-child(1){
    transform: rotate(180deg);
=======
*{
    margin:0;
    font-family: 'Mulish',sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
}
.fa-hand-wave{
    color:#f44336;
}
.header{
    box-shadow: 4px 4px 12px #000;
    padding:10px 5px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin: 0 15px;
}
.leftside{
    padding:5px 12px;
    color:#000;
    border-radius:5px;
    margin: 0 2%;
}
.Header{
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("/Images/lap4.jpg");
    height:100vh;
    background-position: center;
    background-size: cover;
}
.leftside ,h4{
    color: rgb(40, 236, 67);
}
.leftside h4{
    font-size:25px;
}
.header img{
    transform: rotateY(180deg);
    margin:0 2%;
    width: 40px;
}
.nav-links{
    flex: 1;
    text-align: right;
    margin: 0 5%;
}
.nav-links ul li{
    position: relative;
    display: inline-block;
    list-style: none;
    padding:8px 12px;
}
.nav-links ul li a{
    color:#fff;
     text-decoration: none;
     font-size:18px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.textbox{
    top:35%;
    left: 35%;
    position: absolute;
}
.circle{
    background-color: rgb(30, 44, 30);
    height:310px;
    width: 310px;
    border-radius: 50%;
    padding:10px;
    bottom: 150px;
    left:6%;
    position: relative;
}
.circle img{
    width:250px;
    height:250px;
    margin: 6% 7%;
    border-radius: 50%;
    border: 5px solid green;
    object-fit: cover;
}
.details{
    bottom: 150px;
    right:25%;
    position: relative;
    color: #fff;
    text-align: center;
}
.details p{
    font-size: 19px;
    margin: 1% 0;
    font-size: 400;
}
.icons{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    bottom: 120px;
    right:24%;
    position: relative;
}
.icons a{
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 12px 38px;
    color: #fff;
    font-size: 17px;
    margin: 0 3%;
}
.arrow{
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: rotate(90deg);
    width:15px;
    animation: jump 3s linear infinite;
}
#aboutme{
    padding: 50px;
    color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#aboutme img{
    width: 100%;
}
#aboutme h3{
    font-family: inherit;
    font-size:25px;
    font-weight: 500;
}
#aboutme h3::after{
    content: '';
    width:80%;
    height:1px;
    background-color: #f4f4f4;
    display: block;
    margin: auto;
    bottom: 10px;
    left: 8%;
    position: relative;
}
.Left__side p{
    letter-spacing: 1px;
    font-weight: 300;
    color: #d4cbcb;
    line-height: 25px;
    margin: 10px 0;
    font-size: 19px;
}
.Left__side{
    flex-basis: 50%;
}
.Left__side p li i{
    color: rgb(40, 236, 67);
}
.Left__side p i{
    color: rgb(40, 236, 67);
}
.right{
    flex-basis: 40%;
}
#projects{
    padding:30px;
}
#projects h2{
    color: #fff;
    margin: 2% 0;
    font-weight: 400;
}
.user{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    border: 5px solid rgb(40, 236, 67);
}
.row{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
}
.column{
    flex-basis: 33%;
    background-color: rgba(77,76,76,0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 30px 20px;
    color: #fff;
    margin: 0 1%;
    box-shadow: 2px 2px 4px #000;
    border-radius: 5px;
}
.column:hover{
    box-shadow: 4px 4px 8px #000;
}
.column h3{
    color: rgb(8, 241, 78);
    margin: 3% 0;
}
.column span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
}
.column span li{
    list-style: none;
    color: #fff;
    font-size: 13px;
}
.column p{
    margin: 2% 0;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}
.column a{
    text-decoration: none;
    color: rgb(8, 241, 78);
    font-size: 23px;
    font-weight: 300;
}
.column a small{
    margin: 0 2%;
    font-size: 13px;
}
.cta{
    padding:40px;
    color: #fff;
    text-align: center;
}
.cta h2{
    font-size: 30px;
}
.cta p{
    font-size: 14px;
    color: rgb(194, 186, 186);
    margin: 14px 0 40px;
    line-height: 20px;
}
.cta a{
    text-decoration: none;
    padding: 10px 30px;
    color: rgb(8, 241, 78);
    border: 2px solid rgba(7, 253, 81, 0.87);
    border-radius: 5px;
}
.footer{
    color: #fff;
    text-align: center;

    font-weight: 300;
}
.skills{
    padding:40px;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("/Images/pexels-pixabay-4158.jpg");
    background-position: center;
    background-size: cover;
    width:100%;
}
.skills h2{
    color: #fff;
    text-align: left;
    margin: 2% 0;
    font-weight: 300;
    font-size: 25px;
}
.first div{
    width:100%;
    height:7px;
    background-color: #000;
}
.first{
    margin: 3% 0;
    color: #fff;
}
.first p{
    margin: 0.5% 0;
}
#html{
    width:95%;
    height:7px;
    background-color: rgb(8, 241, 78);
    display: block;
}
#js{
    width:79%;
    height:7px;
    background-color: rgb(8, 241, 78);
    display: block;
}
#react{
    width:85%;
    height:7px;
    background-color: rgb(8, 241, 78);
    display: block;
}
.Resume{
    border: 2px solid rgb(8, 241, 78);
    padding: 8px 20px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(8, 241, 78);
    border-radius: 6px;
}
.menu{
    display: none;
}
#preloader{
    background: #000 url("/Images/circle-loader-gif-2.gif") center center no-repeat;
    transform: translate(-50%,-50%);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: 15%;
    z-index: 1000;
}
@media only screen and (max-width:768px){
    *{
        margin: 0%;
        padding: 0%;
    }
    .menu{
        display: block;
        width:20px;
        z-index: 70;
    }
    body{
        overflow-x: hidden;
    }
    .nav-links{
        background-color: #333;
        box-shadow: 0 0 4px 4px #000;
        height: 70vh;
        width: 300px;
        top:0;
        right: -6%;
        display: none;
        position: absolute;
        z-index: 15;
        transition: 0.5s;
    }
    .nav-links ul{
        margin: 20% 30px;
    }
    .nav-links ul li{
        display: block;
        margin: 15px 0;
    }
    #aboutme,.row{
        flex-direction: column;
    }
    .Left__side,.right,.column{
        flex-basis: 100%;
    }
    .column{
        margin: 1% 0;
    }
    .circle{
      left: -30%;
      position: relative;
    }
    html,body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    #aboutme h3::after{
        left: 80px;
        position: relative;
        width: 70%;
    }
}
/* .menuTag span{
    background-color: #fff;
    width:30px;
    height: 3px;
    display: block;
    margin: 7px 0;
}
.menuTag{
    margin: 0 20px;
}
.menuTag span:nth-child(1){
    transform: rotate(180deg);
>>>>>>> 5fb3b5044369975f2df598855345d83acdc7ce5b
} */